.luncheon-login-1, body {
    background-image: url("../images/zdrave_jedlo_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.luncheon-login-1 .login-form {
    padding-top: 70px;
    padding-left: 80px;
}

.luncheon-login-2, body {
    background-image: url("../images/zdrave_jedlo_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.luncheon-login-2 .login-form {
    padding-top: 70px;
    padding-left: 80px;
}

.luncheon-login-3, body {
    background-image: url("../images/zdrave_jedlo_3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.luncheon-login-3 .login-form {
    padding-top: 70px;
    padding-left: 80px;
}

.luncheon-login-4, body {
    background-image: url("../images/zdrave_jedlo_4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.luncheon-login-4 .login-form {
    padding-top: 70px;
    padding-left: 80px;
}

.luncheon-login-5, body {
    background-image: url("../images/zdrave_jedlo_5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.luncheon-login-5 .login-form {
    padding-top: 70px;
    padding-left: 80px;
}

.luncheon-login-6, body {
    background-image: url("../images/zdrave_jedlo_6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.luncheon-login-6 .login-form {
    padding-top: 70px;
    padding-left: 80px;
}

.luncheon-login-7, body {
    background-image: url("../images/zdrave_jedlo_7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.luncheon-login-7 .login-form {
    padding-top: 70px;
    padding-left: 80px;
}

/*.luncheon-login-8, body {*/
    /*background-image: url("../images/zdrave_jedlo_8.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*color: black;*/
/*}*/

/*.luncheon-login-8 .login-form {*/
    /*padding-top: 70px;*/
    /*padding-left: 80px;*/
/*}*/

