@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Ubuntu+Condensed');

h3 {
    text-align: center;
    font-size: 50px;
    color: #ffc400;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.header {
    padding-top: 20px;
}

.background1:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    width: 1920px;
    height: 1271px;

    background-image: url("../images/food1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*-webkit-filter: blur(5px);*/
    /*-moz-filter: blur(5px);*/
    /*-o-filter: blur(5px);*/
    /*-ms-filter: blur(5px);*/
    /*filter: blur(5px);*/
}

.background2:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    width: 1920px;
    height: 1271px;

    background-image: url("../images/food2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.background3:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    width: 1920px;
    height: 1271px;

    background-image: url("../images/food3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.background4:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    width: 1920px;
    height: 1271px;

    background-image: url("../images/food4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.background5:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    width: 1920px;
    height: 1271px;

    background-image: url("../images/food5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.background6:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    width: 1920px;
    height: 1271px;

    background-image: url("../images/food6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.background7:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    width: 1920px;
    height: 1271px;

    background-image: url("../images/food7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.background8:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    width: 1920px;
    height: 1271px;

    background-image: url("../images/food8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-default {
    background-color: #333;
    border-bottom: 3px solid #abff91;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.navbar-default li a {
    font-size: 20px;
    color: #777;
}

.navbar-default .navbar-nav li a:hover {
    background-color: #333;
    color: #ffc400;
    font-size: 20px;
}

.luncheon-label-div {
    background-color: beige;
}
